{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container  px-4 px-lg-5 my-5">
            <h1>Inscription</h1>      
            {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate' }} ) }}
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">        
                {{ include('helpers/form/_group.html.twig', {
                            'field': form['email'], 'attr': {'attr':{'size': '25'}}
                        }) }}
            </div>
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                {{ include('helpers/form/_group.html.twig', {
                            'field': form['password'], 'attr': {'attr':{'size': '25'}}
                        }) }}
            </div>
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                {{ include('helpers/form/_group.html.twig', {
                            'field': form['prenom'], 'attr': {'attr':{'size': '25'}}
                        }) }}
            </div>
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                {{ include('helpers/form/_group.html.twig', {
                        'field': form['nom'], 'attr': {'attr':{'size': '25'}}
                    }) }}
            </div>
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                {{ include('helpers/form/_group.html.twig', {
                        'field': form['telephone'], 'attr': {'attr':{'size': '25'}}
                    }) }}
            </div>
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                {{ include('helpers/form/_group.html.twig', {
                        'field': form['ville'], 'attr': {'attr':{'size': '25'}}
                    }) }}
            </div>
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                {{ include('helpers/form/_group.html.twig', {
                        'field': form['pays'], 'attr': {'attr':{'size': '25'}}
                    }) }}
            </div>
            <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                {{ include('helpers/form/_group.html.twig', {
                        'field': form['adresse_postal'], 'attr': {'attr':{'rows': '5', 'cols': '25'}}
                    }) }}
            </div>
            <div class="row">
                {% if not form.vars.valid %}
                <div class="col-md-8 error">
                    <i class="fa fa-exclamation-triangle fa-fw">
                    Le formulaire contient des erreurs. Vérifiez les différentes rubriques.
                </div>
                {% else %}
                    <div class="col-md-8"></div>
                {% endif %} 
                <div class="col-md-8 text-right">
                    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-info'} }) }}
                </div>
            </div>
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}