{% extends 'base.html.twig' %}

{% block title %}Listing aviss{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            {# Titre de la page #}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Listing Horaires</h1>
                </div>
            </div>

            <div class="row" role="alert">
                <div class="col-xs-9 col-sm-10"></div>

                <div class="col-xs-3 col-sm-2">
                    {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                    <a href="{{ path('app_horaire_add') }}" role="button" class="btn btn-info text-right">
                        <i class="fa fa-plus fa-fw"></i> Ajouter
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>            
         <div class="container px-4 px-lg-5 my-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" {% if pagination.isSorted('horaire.horaire_id') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'ID', 'horaire.horaire_id') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('horaire.jour') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Jour', 'horaire.jour') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('horaire.heure_ouverture') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Horaire', 'horaire.heure_ouverture') }}
                        </th>
                        <th colspan="2" scope="col" {% if pagination.isSorted('horaire.heure_fermeture') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Horaire', 'horaire.heure_fermeture') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for horaire in pagination %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('app_horaire_index', {'id': horaire.horaireid}) }}" class="fw-bolder">{{ horaire.horaireid }}</a>
                        </th>
                        <td>
                            {{ horaire.jour|nl2br }}
                        </td>
                        <td>
                            {{ horaire.heureouverture|nl2br }}
                        </td>
                        <td>
                            {{ horaire.heurefermeture|nl2br }}
                        </td>
                        <td>
                            {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                            <a href="{{ path('app_horaire_remove', {'id': horaire.horaireid}) }}" role="button" class="btn btn-danger">Supprimer</a>
                            <a href="{{ path('app_horaire_edit', {'id': horaire.horaireid}) }}" role="button" class="btn btn-info">Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>             
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
