{% extends 'base.html.twig' %}

{% block title %}{{ utilisateur.nom }} {{ utilisateur.prenom }}{% endblock %}

{% block content %}
    <section class="py-5">                
        <div class="container px-4 px-lg-5 my-5">
            {# Titre de la page #}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ utilisateur.nom }} {{ utilisateur.prenom }}</h1>
                </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <p><strong>Rôles : </strong><br>{{ utilisateur.roles|join(', ') }}</p>
            <p><strong>Email : </strong><br>{{ utilisateur.email }}</p>
            <p><strong>Téléphone : </strong><br>{{ utilisateur.telephone }}</p>
            <p><strong>Ville : </strong><br>{{ utilisateur.ville }}</p>
            <p><strong>Pays : </strong><br>{{ utilisateur.pays }}</p>
            <p><strong>Adresse Postale : </strong><br>{{ utilisateur.adressepostal|nl2br }}</p>
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <div class="row" role="alert">
                <div class="col-xs-9 col-sm-10">                 
                    <a href="{{ path('app_utilisateur_liste') }}" role="button" class="btn btn-secondary">Retour à la liste</a>
                </div>
                <div class="col-xs-3 col-sm-2">            
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.utilisateurid}) }}" role="button" class="btn btn-info">Modifier</a>
                </div>
            </div>        
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
{% endblock %}
