{% extends 'base.html.twig' %}

{% block title %}{{ commande.numerocommande }} {% endblock %}

{% block content %}
    <section class="py-5">               
         <div class="container px-4 px-lg-5 my-5">
            {# Titre de la page #}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ commande.numerocommande }}</h1>
                </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <p><strong>Date de la commande : </strong><br>{{ commande.datecommande|date('d/m/Y') }}</p>
            <p><strong>Date de la prestation : </strong><br>{{ commande.dateprestation|date('d/m/Y') }}</p>
            <p><strong>Menu : </strong><br>
                {% if commande.menuId %}
                    <a href="{{ path('app_menu_index', {'id': commande.menuId.menuid}) }}" class="fw-bolder">{{ commande.menuId.titre }}</a>
                {% else %}
                    Aucun menu associé
                {% endif %}
            </p>
            <p><strong>Client : </strong><br>{{ commande.utilisateurId.prenom }} {{ commande.utilisateurId.nom }}</p>
            <p><strong>Adresse : </strong><br>{{ commande.utilisateurId.adressepostal }}</p>
            <p><strong>Ville : </strong><br>{{ commande.utilisateurId.ville }}</p>
            <p><strong>Pays : </strong><br>{{ commande.utilisateurId.pays }}</p>
            <p><strong>Telephone : </strong><br>{{ commande.utilisateurId.telephone }}</p>
            <p><strong>Heure de livraison : </strong><br>{{ commande.heurelivraison }}</p>
            <p><strong>Prix du Menu : </strong><br>{{ commande.prixmenu }} €</p>
            <p><strong>Nombre de personnes : </strong><br>{{ commande.nombrepersonne }}</p>
            <p><strong>Prix de livraison : </strong><br>{{ commande.prixlivraison }} €</p> 
            <p><strong>Statut : </strong><br>{{ commande.statut }}</p>
            <p><strong>Pret de matériel : </strong><br>{{ commande.pretmateriel ? 'Oui' : 'Non' }}</p>
            <p><strong>Restitution de matériel : </strong><br>{{ commande.restitutionmateriel ? 'Oui' : 'Non' }}</p>
        </div>
        {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
        <div class="container px-4 px-lg-5 my-5">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Listing Menus</h2>
                </div>
            </div>        
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <table class="table">
                <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th scope="col" {% if pagination.isSorted('menu.titre') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Titre', 'menu.titre') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.nombre_personne_minimum') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Nb. pers. min', 'menu.nombre_personne_minimum') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.prix_par_personne') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Prix pers.', 'menu.prix_par_personne') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.regime') %}} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Régime', 'menu.regime') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.quantite_restante') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Qt. rest.', 'menu.quantite_restante') }}
                        </th>
                    </tr>
                </thead>  
                <tbody>
                    {% for menu in pagination %}
                    <tr>
                        <th colspan="4" scope="row">
                            <a href="{{ path('app_menu_index', {'id': menu.menuid}) }}" class="fw-bolder">{{ menu.titre|nl2br}}</a>
                            <p>Nb. pers. min : {{ menu.nombrepersonneminimum }}</p>
                            <p>Prix pers. : {{ menu.prixparpersonne }} €</p>
                            <p>Régime : {{ menu.regime }}</p>
                            <p>Qt. rest. : 
                                {% if menu.quantiterestante > 0 %}
                                    {{ menu.quantiterestante }}
                                {% else %}
                                    <span class="text-danger">Rupture de stock</span>
                                {% endif %}
                            </p>
                        </th>
                        <td>
                            {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                            <a href="{{path('app_commande_menuadd',{'idcommande':commande.numerocommande,'idmenu':menu.menuid})}}" class="btn btn-info">Ajouter</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>             
        </div>
        {% endif %}
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
