<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Vite &amp;<img src="{{ email.image('@images/favicon.png' )}}" alt="Logo"> Gourmand !</h1>
        <h2>Demande de contact</h2>
        <h3>{{ titre }}</h3>
        <p>Bonjour, </p>
        <p>Demande de contact sur {{ message }} avec l'adresse email {{ mail }} de {{ prenom }} {{ nom }}</p>
    </body>
</html>