{% extends 'base.html.twig' %}

{% block title %}{{ theme.libelle }} {% endblock %}

{% block content %}
    <section class="py-5">               
         <div class="container px-4 px-lg-5 my-5">
            {# Titre de la page #}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ theme.libelle }}</h1>
                </div>
            </div>
        </div>
       <div class="container px-4 px-lg-5 my-5">
            <p><strong>ID: </strong><br>{{ theme.themeid }}</p>
            <p><strong>Libellé: </strong><br>{{ theme.libelle }}</p>
        </div>        

        <div class="container px-4 px-lg-5 my-5">
            <div class="row" role="alert">
                <div class="col-xs-9 col-sm-10">
                    <a href="{{ path('app_theme_liste') }}" role="button" class="btn btn-secondary">Retour à la liste</a>
                </div>
                {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                <div class="col-xs-3 col-sm-2">            
                    <a href="{{ path('app_theme_edit', {'id': theme.themeid}) }}" role="button" class="btn btn-info">Modifier</a>
                </div>
                {% endif %}
            </div>        
        </div> 
        <div class="container px-4 px-lg-5 my-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">
                            <h2>Menus associés : </h2>
                        </th>
                    </tr>
                </thead>                
                 <tbody>
                    {% for menu in menus %}
                    <tr>
                        <th colspan="4" scope="row">
                            <a href="{{ path('app_menu_index', {'id': menu.menuid}) }}" class="fw-bolder">{{ menu.titre|nl2br}}</a>
                            <p>Nb. pers. min : {{ menu.nombrepersonneminimum }}</p>
                            <p>Prix pers. : {{ menu.prixparpersonne }} €</p>
                            <p>Régime : {{ menu.regime }}</p>
                            <p>Qt. rest. : 
                                {% if menu.quantiterestante > 0 %}
                                    {{ menu.quantiterestante }}
                                {% else %}
                                    <span class="text-danger">Rupture de stock</span>
                                {% endif %}
                            </p>
                        </th>
                        <td>
                            {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                            <a href="{{ path('app_theme_menuremove', {'idtheme': theme.themeid, 'idmenu': menu.menuid}) }}" class="btn btn-danger">Supprimer</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>          
        </div>
        {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
        <div class="container px-4 px-lg-5 my-5">
            {# Titre de la page #}
            <div class="row">
                <div class="col-lg-12">
                    <h2>Listing Menus</h2>
                </div>
            </div>        
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <table class="table">
                <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th scope="col" {% if pagination.isSorted('menu.titre') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Titre', 'menu.titre') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.nombre_personne_minimum') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Nb. pers. min', 'menu.nombre_personne_minimum') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.prix_par_personne') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Prix pers.', 'menu.prix_par_personne') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.regime') %}} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Régime', 'menu.regime') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.quantite_restante') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Qt. rest.', 'menu.quantite_restante') }}
                        </th>
                    </tr>
                </thead>               
                <tbody>
                    {% for menu in pagination %}
                    <tr>
                        <th colspan="4" scope="row">
                            <a href="{{ path('app_menu_index', {'id': menu.menuid}) }}" class="fw-bolder">{{ menu.titre|nl2br}}</a>
                            <p>Nb. pers. min : {{ menu.nombrepersonneminimum }}</p>
                            <p>Prix pers. : {{ menu.prixparpersonne }} €</p>
                            <p>Régime : {{ menu.regime }}</p>
                            <p>Qt. rest. : 
                                {% if menu.quantiterestante > 0 %}
                                    {{ menu.quantiterestante }}
                                {% else %}
                                    <span class="text-danger">Rupture de stock</span>
                                {% endif %}
                            </p>
                        </th>
                        <td>
                            {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                            <a href="{{ path('app_theme_menuadd', {'idtheme': theme.themeid, 'idmenu': menu.menuid}) }}" class="btn btn-info">Ajouter</a>
                           {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>            
        </div>
        {% endif %}
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
