{% extends 'base.html.twig' %}

{% block title %}Listing Menu{% endblock %}

{% block content %}
    <section class="py-5">               
        <div class="container px-4 px-lg-5 my-5">
            {# Titre de la page #}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Listing Menu</h1>
                </div>
            </div>

            <div class="row" role="alert">
                <div class="col-xs-9 col-sm-10"></div>

                <div class="col-xs-3 col-sm-2">
                    {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                    <a href="{{ path('app_menu_add') }}" role="button" class="btn btn-info text-right">
                        <i class="fa fa-plus fa-fw"></i> Ajouter
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <table class="table">
                <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th scope="col" {% if pagination.isSorted('menu.titre') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Titre', 'menu.titre') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.nombre_personne_minimum') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Nb. pers. min', 'menu.nombre_personne_minimum') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.prix_par_personne') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Prix pers.', 'menu.prix_par_personne') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.regime') %}} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Régime', 'menu.regime') }}
                        </th>
                        <th scope="col" {% if pagination.isSorted('menu.quantite_restante') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Qt. rest.', 'menu.quantite_restante') }}
                        </th>
                    </tr>
                </thead>               
                <tbody>
                    {% for menu in pagination %}
                    <tr>
                        <th colspan="4" scope="row">
                            <a href="{{ path('app_menu_index', {'id': menu.menuid}) }}" class="fw-bolder">{{ menu.titre|nl2br}}</a>
                            <p>Nb. pers. min : {{ menu.nombrepersonneminimum }}</p>
                            <p>Prix pers. : {{ menu.prixparpersonne }} €</p>
                            <p>Régime : {{ menu.regime }}</p>
                            <p>Qt. rest. : 
                                {% if menu.quantiterestante > 0 %}
                                    {{ menu.quantiterestante }}
                                {% else %}
                                    <span class="text-danger">Rupture de stock</span>
                                {% endif %}
                            </p>
                        </th>
                        <td>
                            {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                            <a href="{{ path('app_menu_remove', {'id': menu.menuid}) }}" role="button" class="btn btn-danger">Supprimer</a>
                            <a href="{{ path('app_menu_edit', {'id': menu.menuid}) }}" role="button" class="btn btn-info">Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>            
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
