{% extends 'base.html.twig' %}

{% block title %}{{ plat.titreplat }} {% endblock %}

{% block content %}
    <section class="py-5">               
         <div class="container px-4 px-lg-5 my-5">
            {# Titre de la page #}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ plat.titreplat }}</h1>
                </div>
            </div>
        </div>
        <div class="container  px-4 px-lg-5 my-5">
            <p><strong>Photo : </strong></p> 
            <p><img src="{{ path('app_plat_photo', {'id': plat.platid}) }}" alt="{{ plat.titreplat }}" class="img-fluid"></p>
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <div class="row" role="alert">
                <div class="col-xs-9 col-sm-10">
                    <a href="{{ path('app_plat_liste') }}" role="button" class="btn btn-secondary">Retour à la liste</a>
                </div>
                {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                <div class="col-xs-3 col-sm-2">            
                    <a href="{{ path('app_plat_edit', {'id': plat.platid}) }}" role="button" class="btn btn-info">Modifier</a>
                </div>
                {% endif %}
            </div>        
        </div> 
        <div class="container px-4 px-lg-5 my-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" colspan="3">
                            <h2>Allergènes associés : </h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for allergene in allergenes %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('app_allergene_index', {'id': allergene.allergeneid}) }}" class="fw-bolder">{{ allergene.allergeneid }}</a>
                        </th>                         
                        <td>
                            {{ allergene.libelle }}
                        </td>
                        <td>
                            {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                            <a href="{{path('app_plat_allergeneremove',{'idplat':plat.platid,'idallergene':allergene.allergeneid})}}" class="btn btn-danger">Supprimer</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
        <div class="container px-4 px-lg-5 my-5">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Listing Allergènes</h2>
                </div>
            </div>        
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" {% if pagination.isSorted('allergene.allergene_id') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'ID', 'allergene.allergene_id') }}
                        </th>
                        <th scope="col" colspan="2" {% if pagination.isSorted('allergene.libelle') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Libellé', 'allergene.libelle') }}
                        </th>                    
                    </tr>
                </thead>
                <tbody>
                    {% for allergene in pagination %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('app_allergene_index', {'id': allergene.allergeneid}) }}" class="fw-bolder">{{ allergene.allergeneid }}</a>
                        </th>                        
                        <td>
                            {{ allergene.libelle }}
                        </td>
                        <td>
                            <a href="{{path('app_plat_allergeneadd',{'idplat':plat.platid,'idallergene':allergene.allergeneid})}}" class="btn btn-info">Ajouter</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>             
        </div>
        {% endif %}
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
