{% extends 'base.html.twig' %}

{% block title %}Listing regimes{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            {# Titre de la page #}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Listing Regimes</h1>
                </div>
            </div>
            <div class="row" role="alert">
                <div class="col-xs-9 col-sm-10"></div>

                <div class="col-xs-3 col-sm-2">
                    {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                    <a href="{{ path('app_regime_add') }}" role="button" class="btn btn-info text-right">
                        <i class="fa fa-plus fa-fw"></i> Ajouter
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>            
         <div class="container px-4 px-lg-5 my-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" {% if pagination.isSorted('regime.regime_id') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'ID', 'regime.regime_id') }}
                        </th>
                        <th scope="col" colspan="2" {% if pagination.isSorted('regime.libelle') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Libellé', 'regime.libelle') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for regime in pagination %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('app_regime_index', {'id': regime.regimeid}) }}" class="fw-bolder">{{ regime.regimeid }}</a>
                        </th>
                        <td>
                            {{ regime.libelle|nl2br }}
                        </td>
                        <td>
                            {% if (app.user and 'ROLE_ADMIN' in app.user.roles) or (app.user and 'ROLE_USE' in app.user.roles) %}
                            <a href="{{ path('app_regime_remove', {'id': regime.regimeid}) }}" role="button" class="btn btn-danger">Supprimer</a>
                            <a href="{{ path('app_regime_edit', {'id': regime.regimeid}) }}" role="button" class="btn btn-info">Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>             
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
